<div class="flex flex-col gap-10">
  <h3 class="text-black dark:text-gray-100 font-bold text-xl sm:text-3xl">
    ¿Qué dicen los clientes sobre ReynoVerde?
  </h3>

  <div class="relative rounded-lg overflow-hidden">

    <div class="flex gap-10 overflow-x-hidden ">
      @for (item of comentarios; track $index) {
       <div class="bg-[#C1DCDC] dark:bg-[#1A2B2B]  p-5 shadow-md rounded-lg">
         <app-comentarios
          [comentario]="item.comentario"
          [imagen]="item.foto"
          [nombreUsuario]="item.usuario"
          [fecha]="item.fecha"
        ></app-comentarios>
       </div>
      }
    </div>
  </div>
</div>
