<div
  [ngClass]="clasesExtra"
  class=" bg-white dark:bg-neutral-900 shadow-lg rounded-md text-sm 
  space-y-6 absolute z-20 top-0  w-72 border p-5 
  origin-top-left scale-0  overflow-hidden transition-all ease-in-out duration-300"
>
  <!-- Encabezado -->
  <div class="flex justify-between items-center border-b pb-2">
    <h2 class="font-bold text-lg">FILTRAR</h2>
    <button
      class="text-xl font-bold cursor-pointer"
      type="button"
      (click)="huboClick()"
    >
      ✕
    </button>
  </div>

  <!-- Nombre -->
  <div>
    <h3 class="font-semibold pb-1 mb-2">Nombre Planta</h3>
    <div class="space-y-3">
      <label class="flex items-center gap-2">
        <input
          type="text"
          class="bg-white border rounded-lg text-black px-2 py-1"
        />
      </label>
    </div>
  </div>

  <!-- Categoria -->
  <div>
    <h3 class="font-semibold border-b pb-1 mb-2">Categorias</h3>

    @for(categoria of categorias; track categoria.nombreCategoria){
    <div class="space-y-2">
      <label class="flex items-center gap-2">
        <input
          name="nombreCategoria"
          type="checkbox"
          [value]="categoria.nombreCategoria"
          [checked]="seleccionadas.includes(categoria.nombreCategoria)"
          (change)="onCheckboxChange(categoria.nombreCategoria, $event)"
          class="accent-[#C1DCDC]"
        />
        {{ categoria.nombreCategoria }}
      </label>
    </div>
    }
  </div>

  <!-- Precio -->
  <div>
    <h3 class="font-semibold border-b pb-1 mb-2">Precio</h3>
    <input
      type="range"
      min="0"
      max="859"
      class="w-full accent-neutral-900 dark:accent-gray-200"
    />
    <p class="text-sm mt-1">Monto : S/. 0.00 — S/. 859.00</p>
    <button
      class="mt-2 px-4 py-1 border-2 border- bg-[#C1DCDC] dark:bg-[#1A2B2B] dark:border-gray-200 rounded-full text-sm hover:bg-[#C1DCDC] dark:hover:bg-[#131d1d] transition cursor-pointer"
    >
      Filtrar
    </button>
  </div>

  <!-- Limpiar Todo -->
  <div>
    <a
      href="#"
      class="text-black dark:text-gray-200 font-semibold hover:underline hover:pl-1 transition-all"
      >Limpiar Todo →</a
    >
  </div>
</div>


