<div class="min-h-screen flex flex-col">
  <header class="py-5 mb-5 flex flex-col items-center sticky top-0 bg-neutral-50/95 dark:bg-neutral-900/90 border-b-[0.1px] border-neutral-200 dark:border-neutral-800 z-10">
    <nav
      class="flex justify-between items-center flex-wrap max-w-[1200px] w-full px-5 z-50"
    >
      <ul
        class="flex gap-5 h-10 items-center justify-center text-black dark:text-white"
      >
        <li>
          <a routerLink="/inicio">Reyno Verde</a>
        </li>
        <li>
          <a
            routerLink="/inicio"
            routerLinkActive="text-black dark:text-white font-bold"
            >Inicio</a
          >
        </li>
        <li>
          <a
            routerLink="/plantas"
            routerLinkActive="text-black dark:text-white font-bold"
            >Plantas</a
          >
        </li>
      </ul>

      <div class="flex items-center justify-center gap-5 ">
        <div class="relative">
          <div class="absolute bg-orange-600 rounded-full px-1.5 text-xs -top-2 left-3 font-medium">
            <p class="text-gray-100">
              {{_serviceCarrito.totalCantidad()}}
            </p>
          </div>
          <a routerLink="/carrito">
            <svg
            class="text-black dark:text-gray-100"
            xmlns="http://www.w3.org/2000/svg"
            width="25px"
            height="25px"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="1.5"
              d="M16.5 21a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3m-8 0a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3M3.71 5.4h15.214c1.378 0 2.373 1.27 1.995 2.548l-1.654 5.6C19.01 14.408 18.196 15 17.27 15H8.112c-.927 0-1.742-.593-1.996-1.452zm0 0L3 3"
            />
          </svg>
          </a>
        </div>
         <app-tema></app-tema> 
      </div>
    </nav>
  </header>

  <main class="flex  justify-center flex-1 overflow-hidden">
    <div class="w-full max-w-[1200px] ">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="bg-[#C1DCDC] dark:bg-[#1A2B2B] mt-20">
    <div class="flex justify-center">
      <div class="w-full max-w-[1200px] py-10">
        <div
          class="flex flex-col text-center sm:text-start sm:justify-between gap-5 px-5 sm:flex-row"
        >
          <div class="">
            <h4 class="text-black dark:text-gray-100 font-bold">ReynoVerde</h4>
          </div>

          <div>
            <h4 class="text-black dark:text-gray-100 font-bold">Informacion</h4>
            <div>
              <p>Acerca de Nosotros</p>
              <p>Productos</p>
              <p>Blog</p>
            </div>
          </div>
          <div>
            <h4 class="text-black dark:text-gray-100 font-bold">Compañia</h4>
            <div>
              <p>Comunidad</p>
              <p>Carrera</p>
              <p>Nuestra Historia</p>
            </div>
          </div>
          <div>
            <h4 class="text-black dark:text-gray-100 font-bold">Contacto</h4>
            <div>
              <p>Empezando</p>
              <p>Precios</p>
              <p>Recursos</p>
            </div>
          </div>
        </div>

        <div class="px-5">
          <div
            class="bg-gray-500 dark:bg-gray-200 h-0.5 w-full mt-5 mb-10 sm:mt-10 sm:mb-20"
          ></div>
          <div
            class="flex flex-col gap-5 text-center sm:text-start sm:flex-row sm:justify-between items-center"
          >
            <p>
              2025 Todos los derechos reservados Términos de uso a ReynoVerde
            </p>
            <div class="flex gap-2.5">
              <div
                class="rounded-full p-2.5 bg-[#C1DCDC] w-fit border-gray-700 border text-gray-700 dark:border-gray-100 dark:text-[#1A2B2B]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M8 5.67C6.71 5.67 5.67 6.72 5.67 8S6.72 10.33 8 10.33S10.33 9.28 10.33 8S9.28 5.67 8 5.67M15 8c0-.97 0-1.92-.05-2.89c-.05-1.12-.31-2.12-1.13-2.93c-.82-.82-1.81-1.08-2.93-1.13C9.92 1 8.97 1 8 1s-1.92 0-2.89.05c-1.12.05-2.12.31-2.93 1.13C1.36 3 1.1 3.99 1.05 5.11C1 6.08 1 7.03 1 8s0 1.92.05 2.89c.05 1.12.31 2.12 1.13 2.93c.82.82 1.81 1.08 2.93 1.13C6.08 15 7.03 15 8 15s1.92 0 2.89-.05c1.12-.05 2.12-.31 2.93-1.13c.82-.82 1.08-1.81 1.13-2.93c.06-.96.05-1.92.05-2.89m-7 3.59c-1.99 0-3.59-1.6-3.59-3.59S6.01 4.41 8 4.41s3.59 1.6 3.59 3.59s-1.6 3.59-3.59 3.59m3.74-6.49c-.46 0-.84-.37-.84-.84s.37-.84.84-.84s.84.37.84.84a.8.8 0 0 1-.24.59a.8.8 0 0 1-.59.24Z"
                  />
                </svg>
              </div>

              <div
                class="rounded-full p-2.5 bg-[#C1DCDC] w-fit border-gray-700 border text-gray-700 dark:border-gray-100 dark:text-[#1A2B2B]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M15.12 5.32H17V2.14A26 26 0 0 0 14.26 2c-2.72 0-4.58 1.66-4.58 4.7v2.62H6.61v3.56h3.07V22h3.68v-9.12h3.06l.46-3.56h-3.52V7.05c0-1.05.28-1.73 1.76-1.73"
                  />
                </svg>
              </div>

              <div
                class="rounded-full p-2.5 bg-[#C1DCDC] w-fit border-gray-700 border text-gray-700 dark:border-gray-100 dark:text-[#1A2B2B]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m8.78 6.91l7.68 10.11h-1.19L7.51 6.91z"
                  />
                  <path
                    fill="currentColor"
                    d="M17 2H7a5 5 0 0 0-5 5v10a5 5 0 0 0 5 5h10a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5m-2.32 16.3l-3.38-4.4l-3.88 4.4H5.28l5-5.71L5 5.7h4.43l3.06 4l3.51-4h2.14L13.48 11L19 18.3z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
