<section class="text-center flex flex-col gap-10">
  <div class="flex flex-col gap-5">
    <h3 class="font-bold text-xl sm:text-3xl text-black dark:text-gray-100">
      Acerca de Nosotros
    </h3>
    <p>Haz tu pedido ahora y aprecia la belleza de la naturaleza.</p>
  </div>

  <div
    class="flex flex-col items-center sm:flex-row sm:items-start sm:justify-between gap-5"
  >
    <div
      class="w-full max-w-[10rem] sm:max-w-[16rem] flex flex-col items-center gap-5"
    >
      <div
        class="p-5 sm:p-10 w-full max-w-[8rem] sm:max-w-[10rem] aspect-1/1 bg-[#C1DCDC] dark:bg-[#1A2B2B] dark:shadow-gray-400/50 rounded-full shadow-md"
      >
        <div class="h-full w-full rounded-full text-black dark:text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              fill="none"
              stroke="currentColor"
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="1.5"
              color="currentColor"
            >
              <path
                d="M14.5 10.5S12 12.5 12 15m-6 0h12M7 15l.51 3.566c.233 1.637.35 2.456.914 2.945S9.815 22 11.47 22h1.062c1.654 0 2.48 0 3.045-.49c.564-.488.68-1.307.915-2.944L17 15m-6.937-6.937a3.2 3.2 0 0 0 0-4.524C8.178 1.654 4.031 2.03 4.031 2.03s-.377 4.147 1.508 6.032a3.2 3.2 0 0 0 4.524 0m4.74 2.135a2.74 2.74 0 0 0 3.878 0c1.616-1.616 1.293-5.17 1.293-5.17s-3.555-.324-5.17 1.292a2.74 2.74 0 0 0 0 3.878"
              />
              <path d="M10 8.5s2 2.5 2 6.5" />
            </g>
          </svg>
        </div>
      </div>

      <div>
        <h4 class="font-medium text-black dark:text-gray-100 sm:font-bold">Gran surtido</h4>
        <p >
          Ofrecemos muchos tipos diferentes de productos con menos variaciones
          en cada categoría.
        </p>
      </div>
    </div>

    <div
      class="w-full max-w-[10rem] sm:max-w-[16rem] flex flex-col items-center gap-5"
    >
      <div
        class="p-5 sm:p-10 w-full max-w-[8rem] sm:max-w-[10rem] aspect-1/1 bg-[#C1DCDC] dark:bg-[#1A2B2B] dark:shadow-gray-400/50 rounded-full shadow-md"
      >
        <div class="h-full w-full rounded-full text-black dark:text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M11.5 19.714v-7.427L5 8.523v7.08q0 .155.077.29t.23.23zm1 0l6.192-3.591q.154-.096.231-.23q.077-.135.077-.29v-7.08l-6.5 3.764zm-1.308.973l-6.384-3.68q-.38-.217-.593-.59Q4 16.044 4 15.61V8.391q0-.435.215-.808q.214-.373.593-.59l6.384-3.68q.38-.217.808-.217t.808.217l6.384 3.68q.38.216.594.59q.214.373.214.808v7.219q0 .434-.214.807q-.215.373-.594.59l-6.384 3.68q-.38.217-.808.217t-.808-.217m4.52-11.412l2.713-1.561l-6.117-3.541q-.154-.096-.308-.096t-.308.096L9.3 5.548zM12 11.427l2.7-1.568l-6.425-3.713l-2.7 1.567z"
            />
          </svg>
        </div>
      </div>

      <div>
        <h4 class="text-black dark:text-gray-100 font-medium sm:font-bold">Envío Rápido y Gratuito</h4>
        <p>
          Tiempo de entrega de 4 días o menos, envío gratuito y opción de
          entrega acelerada.
        </p>
      </div>
    </div>
    <div
      class="w-full max-w-[10rem] sm:max-w-[16rem] flex flex-col items-center gap-5"
    >
      <div
        class="p-5 sm:p-10 w-full max-w-[8rem] sm:max-w-[10rem] aspect-1/1 bg-[#C1DCDC] dark:bg-[#1A2B2B] dark:shadow-gray-400/50 rounded-full shadow-md"
      >
        <div class="h-full w-full rounded-full text-black dark:text-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="none"
              stroke="currentColor"
              strokeLinejoin="round"
              strokeWidth="1.5"
              d="M7.829 16.171a20.9 20.9 0 0 1-4.846-7.614c-.573-1.564-.048-3.282 1.13-4.46l.729-.728a2.11 2.11 0 0 1 2.987 0l1.707 1.707a2.11 2.11 0 0 1 0 2.987l-.42.42a1.81 1.81 0 0 0 0 2.56l3.84 3.841a1.81 1.81 0 0 0 2.56 0l.421-.42a2.11 2.11 0 0 1 2.987 0l1.707 1.707a2.11 2.11 0 0 1 0 2.987l-.728.728c-1.178 1.179-2.896 1.704-4.46 1.131a20.9 20.9 0 0 1-7.614-4.846Z"
            />
          </svg>
        </div>
      </div>

      <div>
        <h4 class="text-black dark:text-gray-100 font-medium sm:font-bold">24/7 Soporte</h4>
        <p>
          Respuestas a cualquier consulta relacionada con su negocio las 24
          horas del día, los 7 días de la semana y en tiempo real.
        </p>
      </div>
    </div>
  </div>
</section>
