
 .mostrarScroll{
    animation-name: mostrar;
    animation-duration: 0.8s;
    
    animation-fill-mode: forwards;
 }

 @keyframes mostrar{
    from{
        scale: 0.8;
    }
    to{
        scale: 1;
    }
 }