
 .mostrarScroll{
    animation-name: mostrar;
    animation-duration: 1s;
    
    animation-fill-mode: forwards;
 }

 @keyframes mostrar{
    from{
        scale: 0.8;
        opacity: 0.5;
    }
    to{
        scale: 1;
        opacity: 1;
    }
 }